@import url("../vendor/normalize.css");
@import url("./page.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./gallery.css");
@import url("./card.css");
@import url("./carousel.css");

.footer {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: #00000080;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
