@import url("../vendor/normalize.css");
@import url("./page.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./gallery.css");
@import url("./card.css");
@import url("./carousel.css");

.footer {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: #00000080;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

@media screen and (max-width: 393px) {
  .header__title {
    font-size: 20px;
  }

  .header__link {
    font-size: 20px;
  }

  .nav__links {
    gap: 12px;
  }

  .nav__link {
    font-size: 16px;
  }

  .gallery__title {
    font-size: 32px;
  }

  .card {
    width: 100%;
    max-width: 353px;
  }

  .gallery__list {
    grid-template-columns: repeat(auto-fill, minmax(min(353px, 100%), 353px));
  }

  .page {
    padding: 20px;
  }
}
